{% extends 'app_recrutement/baseA.html' %} 
{% load static %}
{% block content%}






<div class="slider-area ">
    <div class="slider-active">
    <div class="single-slider  hero-overly slider-height d-flex align-items-center" >
    <div class="container">
    <div class="row">
    <div class="col-lg-11">
    <div class="hero__caption">
    <div class="hero-text1">
    <span data-animation="fadeInUp" data-delay=".3s">Choisissez le professionnel idéal pour votre projet</span>
    </div>
    <h1 data-animation="fadeInUp" data-delay=".5s"> Vos travaux </h1>
    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
    <h2>de A à Z</h2>
    <h2> de A à Z</h2>
    </div>
    <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
    <span><a href="services.html">Our Services</a></span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="single-slider  hero-overly slider-height d-flex align-items-center  " >
    <div class="container">
    <div class="row">
    <div class="col-lg-11">
    <div class="hero__caption">
    <div class="hero-text1">
    
    </div>
    <h1 data-animation="fadeInUp" data-delay=".5s">advanced</h1>
    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
    <h2>Construction</h2>
    <h2>Construction</h2>
    </div>
    <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
    <span><a href="services.html">Our Services</a></span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="services-area1 section-padding10">
    
    </div>
    
    
    
    
    
    
    
    



{% endblock content %}